h1,
form,
.button-wrapper,
.current-weather-row {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
li,
button,
.forecast-description {
  color: #4a466b;
}

.search-bar,
.submit-button {
  padding: 3px 5px;
}

li,
button {
  font-size: 18px;
}

body {
  background-color: lavender;
  font-family: "Quattrocento Sans", sans-serif;
}

h2 {
  margin: 0;
}

form {
  margin: 25px;
}

h4 {
  text-transform: capitalize;
}

li {
  margin: 5px;
}

h3 {
  text-align: center;
  margin-top: 45px;
  font-weight: bold;
}

h5 {
  font-weight: bold;
  text-align: center;
}

button {
  margin: 10px;
  margin-top: 15px;
  background: lavenderblush;
  border: 2px solid #4a466b;
  padding: 10px 12px;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #4a466b;
  color: lavenderblush;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 26px;
}

.container {
  margin-top: 15px;
  background: lavenderblush;
  max-width: 1100px;
  border-radius: 10px;
  padding: 10px;
}

.search-bar {
  width: 300px;
  border: 2px solid #4a466b;
  border-radius: 4px;
}

.submit-button {
  background-color: #4a466b;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 17px;
  transition: all 150ms ease-in-out;
  border: 1px solid #4a466b;
}

.submit-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.current-weather-row {
  margin-top: 45px;
}

.current-temperature {
  color: #1e7aa0;
  font-size: 33px;
}

.forecast-row {
  margin-top: 35px;
}

.forecast-description {
  text-transform: capitalize;
}

.forecast-container {
  max-width: 83px;
  margin: 0 auto;
  text-align: center;
}

.forecast-icon {
  width: 55px;
}

.forecast-list {
  margin: 20px;
}

.forecast-temperature {
  color: #1e7aa0;
}
